// css img, button, heading, title, input, elements, components...
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    object-fit: cover;
    &.--center {
        margin: 0 auto;
        display: block;
    }
}
a {
    text-decoration: none;
}

@include keyframes(expandDown) {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}

.--hidden {
    display: none;
}

.btn {
    position: relative;
    height: var(--height-button);
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
        @include text(
            var(--body14-fs),
            $font-pn-bold,
            null,
            $tcl-black,
            uppercase
        );
        letter-spacing: 2.8px;
    }
    img {
        margin-left: 15px;
    }
    &__outline {
        border: 1px solid $color-white;
        padding: 0 40px;
        &.--center {
            margin: 0 auto;
        }
        span {
            color: $color-white;
        }
    }
}
